# macOS
.DS_Store
.AppleDouble
.LSOverride
Icon?
._*

# Xcode
DerivedData/
build/
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
*.xcuserstate
*.xcuserdata/
*.xccheckout
*.xcscmblueprint

# SwiftPM
.build/
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.swiftpm/xcode/package.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
.swiftpm/xcode/package.xcworkspace/xcuserdata/

# CocoaPods
Pods/

# Carthage
Carthage/Build/

# Accio
Dependencies/
.accio/

# Tuist
.tuist-version
.tuist/

# fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output

# Instruments
*.trace

# Playgrounds
timeline.xctimeline
playground.xcworkspace

# Logs
*.log

# IDEs
.idea/
.vscode/

# Archives
*.xcarchive
*.ipa
*.dSYM.zip
*.dSYM


.shared
